- var page_title = 'Проекты'
doctype html
html
  include ../inc/head.pug
  body
    include ../inc/nav.pug
    .projects.main
      h1.heading--lg.
        #[span.heading--text-decorated Резюме] обо мне
      h2.heading--sm Некоторые мои проекты
      .projects__list
        .project
          a(href="#")
            img.project__img(src="../img/projects/p-2.jpg", alt="")
          a.btn.btn--light &#128065; Проект
          a.btn.btn--github &#128065; Гитхаб
        .project
          a(href="#")
            img.project__img(src="../img/projects/p-2.jpg", alt="")
          a.btn.btn--light &#128065; Проект
          a.btn.btn--github &#128065; Гитхаб
        .project
          a(href="#")
            img.project__img(src="../img/projects/p-3.jpg", alt="")
          a.btn.btn--light &#128065; Проект
          a.btn.btn--github &#128065; Гитхаб
        .project
          a(href="#")
            img.project__img(src="../img/projects/p-3.jpg", alt="")
          a.btn.btn--light &#128065; Проект
          a.btn.btn--github &#128065; Гитхаб
        .project
          a(href="#")
            img.project__img(src="../img/projects/p-3.jpg", alt="")
          a.btn.btn--light &#128065; Проект
          a.btn.btn--github &#128065; Гитхаб





    include ../inc/footer.pug