.main
  h1.heading--lg.
    #[span.heading--text-decorated Рубинский] Константин
  h2.heading--sm Веб-разработчик, айти-специалист
  .social-links
    a.social-link.social-link__github(href='https://github.com/rubinskii')
    a.social-link.social-link__youtube(href="https://www.youtube.com/channel/UC5g4VO_d1EwN3zXHsWNHltg")
    a.social-link.social-link__medium(href="https://medium.com/@kstrbnsk")
    a.social-link.social-link__instagram(href="https://www.instagram.com/rubinskii_k")

