.nav-btn &#9776;
.nav
  .nav-menu
    .nav__branding
        .nav-branding__portrait
    .nav__links
      a.nav__link(href="../index.html") Главная
      a.nav__link(href="resume.html") Резюме
      a.nav__link(href="projects.html") Проекты
      a.nav__link(href="contacts.html") Контакты