- var page_title = 'Главная'
doctype html
html
  head
  meta(charset='utf-8')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title= page_title
  link(rel='stylesheet' href='index.css')
  body.index
    include inc/nav-index.pug
    include inc/main.pug
    include inc/footer-index.pug