.contact-boxes
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center
  margin-top 1rem

.contact-box
  padding 2rem
  margin-bottom 2rem
  font-size 2rem
  border 3px solid secondary-color